/************************************************************************************************

................................BASE STYLES FOR TUCANO TECNOLOGIA................................

************************************************************************************************/



/*************************************** BASIC ELEMENTS ***************************************/


* {
	box-sizing: border-box;
}

html {
	font-size: 14px; /*defines root element font-size = 1rem*/
}

body {
	font-size: 1rem; /*14px*/
	background-color: #FAFAFA;
}

div, span, p, li, a {
	font-family: 'Roboto', sans-serif, helvetica;
	font-weight: 400;
	color: inherit;
	text-decoration: none;
}

ul, h1, h2 {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif, helvetica;
	font-weight: 500;
	font-size: 1.4286rem; /*20px*/
	margin: 0 0 1.2em;
}

h2 {
	font-size: 1.2857rem; /*18px*/
	margin: 0 0 1em;
}

h3 {
	font-size: 1.1429rem; /*16px*/
	margin: 0 0 0.8em;
}

p {
	font-size: 1rem; /*14px*/
	padding: 0.7143rem 0; /*10px*/
	line-height: 1.6;
	margin: 0;
}

button {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	color: inherit;
	font-family: 'Roboto', sans-serif, helvetica;
	font-weight: 400;
}

button:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

.main-wrapper {
	min-height: calc(100vh - 114px); /* 114px is the footer height */
}

.sections-wrapper, footer {
	padding: 30px 0;
}

section {
	padding: 30px 5%;
}

section#services {
	padding: 30px 0;
}


/*************************************** COMMON STYLES ***************************************/


.content-width {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.cover-image {
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.button-link {
	text-transform: uppercase;
	text-align: center;
	border: 3px solid;
	border-radius: 3px;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.button-link a {
	display: block;
	padding: 11px 14px;
	font-size: 1.0714rem; /*15px*/
}

.text-link {
	font-size: 1.0714rem; /*15px*/
	color: #009688; /*teal 500*/
	display: inline;
	padding: 0;
	margin: 0 2px;
	text-align: left;
	text-decoration: underline;
}

.anchor-block {
	display: inline-block;
	line-height: 0;
}

.h1-shadow {
	text-shadow: -1.5px 1px 2px #212121; /*grey 900*/
}

.h2-shadow {
	text-shadow: -1px 1px 2px #212121; /*grey 900*/
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.svg-defs {
	display: none;
}


/*************************************** HEADER ***************************************/


header {
	color: #FAFAFA;
}

/*Top bar*/

.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	text-align: right;
	padding-top: 13px;
}

.top-bar-content.content-width {
	width: 100%;
}

#headers {
	float: right;
	padding: 12px 16px 0 14px;
}

#headers h1 {
	font-family: 'Roboto', sans-serif, helvetica;
	font-weight: 300;
	font-size: 1.0714rem; /*15px*/
	margin-bottom: 0;
}

/*Main background and captions*/

.header-background {
	background-image: linear-gradient(rgba(38,50,56,0.8), rgba(38,50,56,0.3) 30%, rgba(38,50,56,0.65)), url(../img/workstation.jpg);
	background-size: cover;
	height: 455px;
	padding-top: 220px;
}

.header-caption {
	line-height: 1.6;
	text-align: left;
	padding: 0 3%;
}

#headcap-button {
	background-color: transparent;
  box-shadow: 0px 0px 5px #212121; /*grey 900*/
}

.header-caption .button-link a {
  font-size: 1.2857rem; /*18px*/
  font-family: 'Roboto', sans-serif, helvetica;
	font-weight: 500;
	text-shadow: -1.5px 1px 2px #212121;
}

#headcap-button:hover {
	color: #FAFAFA;
	background-color: #009688; /*teal 500*/
	border-color: #009688; /*teal 500*/
}

/*Nav menus*/

#open-nav, #close-nav, #home-link {
	float: left;
	width: 44px;
	height: 41px;
}

#open-nav, #home-link {
	font-size: 0.6429rem; /*9px*/
	text-transform: uppercase;
	text-align: center;
}

#home-link {
	margin: 0 4px;
}

#top-nav, .nav-link {
	float: left;
}

#top-nav {
	height: 36px;
	margin: 5px 0 0 10px;
	display: none;
}

.nav-link {
	height: 100%;
}

#close-nav {
	background-color: rgba(250,250,250,0.98);
}

#home-link .icon, #open-nav .icon {
	display: block;
	margin: 3px auto 0;
	width: 22px;
	height: 22px;
}

#close-nav .icon {
	display: block;
	margin: 10.5px auto 0;
	width: 20px;
	height: 20px;
}

#home-link a {
  display: block;
  height: 100%;
}

.nav-link a {
  display: block;
  height: 100%;
	padding: 11px 14px 0;
	text-transform: uppercase;
	border-radius: 2px 2px 0 0;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.nav-link a::after {
	content:'';
	display: block;
	width:0;
	margin: 3px auto 0;
	border-bottom: 1px solid #fafafa;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

/*.nav-link a:hover {
	background-color: #FAFAFA;
	color: #263238;
}*/

.nav-link a:hover::after {
	width: 100%;
}

#main-nav {
	padding-left: 0;
	position: fixed;
	z-index: 110;
	top: 54px; /* this value is the .top-bar height */
	width: 100%;
	height: calc(100vh - 54px); /* uses .top-bar and viewport heights to set #main-nav height */
	overflow-y: auto;
	background-color: rgba(250,250,250,0.98);
	display: none;
}

#main-nav ul {
	padding-top: 28px;
	padding-bottom: 56px;
}

#main-nav li {
	display: block;
	padding-bottom: 9px;
}

#main-nav li.last {
	padding-bottom: 18px;
}

#main-nav li.last a {
	border-bottom: none;
}

#main-nav .nav-title {
	margin-bottom: 10px;
}

#main-nav a {
	display: block;
	font-size: 1.0714rem; /*15px*/
	color: #263238; /*blue-grey 900*/
	padding: 16px 0 14px;
	border-bottom: 1px solid #263238; /*blue-grey 900*/
	text-align: center;
	text-transform: uppercase;
}

#main-nav .nav-contact-uls {
	width: 235px;
	padding-left: 18px;
	margin: 0 auto;
}

#main-nav .contact-info {
	padding: 5px 0;
}

#main-nav .contact-text a {
	font-size: 1rem;
	padding: 0;
	text-align: left;
	text-transform: none;
}

#main-nav .contact-icon .icon {
	width: 16px;
	height: 16px;
}

#main-nav .contact-text {
	position: relative;
	top: -4px;
	padding: 0;
}


/*************************************** SECTIONS ***************************************/


.sections-wrapper section {
	color: #263238; /*blue-grey 900*/
}

.sections-wrapper section h2 {
	color: #455A64; /*blue-grey 700*/
}

.sections-wrapper section h1 {
	color: #37474F; /*blue-grey 800*/
}

section h1, section h2 {
	text-align: center;
}

section h2 {
	line-height: 1.5;
}

/*Services*/

.services-list h2 {
	margin-bottom: 0.8em;
}

.services-list li {
	display: block;
	padding: 14px 0 24px;
}

.services-list li:last-child {
	padding-bottom: 0;
}

.services-list p {
	text-align: justify;
}

.services-list img {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.services-list li:nth-child(3) img {
  position: relative;
  top: -2px;
}

/*Portfolio and testimonials*/

.slick-dotted.slick-slider {
	margin-bottom: 10px;
}

.slick-dots {
	position: relative;
	top: 0;
	margin-top: 16px;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
	color: #263238; /*blue-grey 900*/
	font-size: 12px;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.75;
}

.portfolio-thumb, .testimonials-thumb {
	padding: 0 10px;
}

.portfolio-thumb .anchor-block, .testimonial-bubble {
	position: relative;
}

#portfolio h2 {
	text-align: center;
	padding-left: 0;
}

.thumb-caption {
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
	padding: 7px 6px 8px;
	text-align: center;
	line-height: 1.4;
	color: #ECEFF1; /*blue-grey 50*/
	background-color: rgba(0,150,136,0.85); /*teal 500*/
}

.caption-links {
	display: none;
}

.client-left {
	width: 45%;
}

.client-right {
	width: 55%;
}

.testimonials-thumb img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 5px 10px 8px 0;
	box-shadow: 0 0 8px #455A64; /*blue-grey 700*/
}

.testimonials-thumb .client {
	text-align: left;
	padding-top: 10px;
}

.testimonials-thumb .client p {
	padding: 0;
}

.client .name {
	font-size: 0.9268rem; /*13px*/
	font-family: 'Roboto', sans-serif, helvetica;
	font-weight: 500;
}

.client .company {
	font-size: 0.8571rem; /*12px*/
}

.testimonials-thumb .testimonial, .testimonials-thumb .bubble-top {
	border-radius: 3px;
	background-color: #009688; /*teal 500*/
}

.testimonials-thumb .testimonial {
	font-size: 0.9268rem; /*13px*/
	color: #ECEFF1; /*blue-grey 50*/
	text-align: justify;
	font-style: italic;
	padding: 14px 18px;
	margin-top: 14px;
}

.testimonials-thumb .bubble-top {
	position: absolute;
	top: -4px;
	left: 20px;
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	z-index: -10;
}


/*************************************** FOOTER ***************************************/


footer {
	background-color: #37474F; /*blue-grey 800*/
	color: #ECEFF1; /*blue-grey 50*/
}

.footer-ul {
	padding-left: 24px;
}

.footer-ul li {
	padding: 8px 0;
}

/*Contact*/

#contact, #sitemap {
	margin: 0 auto;
}

#contact .contact-uls {
	max-width: 255px;
	margin: 0 auto;
}

#contact .contact-info, #main-nav .contact-info {
	display: block;
	width: 100%;
}

#main-nav .contact-info {
	text-align: left;
}

#contact .contact-info {
	padding: 8px 0;
	text-align: center;
}

#contact .contact-info li, #main-nav .contact-info li {
	display: inline-block;
}

#contact .contact-icon, #main-nav .contact-icon {
	padding: 2px 4px;
}

#contact .contact-icon .icon {
	width: 18px;
	height: 18px;
}

#contact .contact-text {
	position: relative;
	top: -5px;
}

#contact .contact-text a, #main-nav .contact-text a {
	letter-spacing: 0.75px;
}

/*Sitemap*/

.footer-ul.sitemap-list {
  width: 210px;
  margin: 0 auto;
  text-align: left;
}

.sitemap-list .parent {
	list-style: disc; 
}
.sitemap-list .child {
	padding-left: 8px;
}

/*Copyright info*/

.copyright {
	font-size: 0.9268rem; /*13px*/
	text-align: left;
	padding-left: 20px;
	margin-top: 14px;
}

/*Back to top button*/
#back-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: none;
	width: 58px;
	height: 40px;
	background-color: #FAFAFA;
	border-radius: 2px;
	opacity: 0.5;
	transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
}
#back-to-top:hover {
	opacity: 0.9;
	cursor: pointer;
}
#back-to-top svg {
	display: block;
  width: 52px;
  height: 38px;
  margin: 0 auto;
}


/********************************* MEDIA QUERIES *********************************/


@media (min-width: 321px) {

	/**COMMON STYLES**/
	.content-width {
		width: 84%;
	}

	/**SECTIONS**/
	.services-list p {
		font-size: 1.0357rem; /*14.5px*/
	}
	.portfolio-carousel, .testimonials-carousel {
		max-width: 284px;
		margin-left: auto;
		margin-right: auto;
	}
	.client .name {
		font-size: 1rem; /*14px*/
	}
	.client .company {
		font-size: 0.9268rem; /*13px*/
	}

	/**FOOTER**/
	#contact .contact-uls {
		padding-left: 22px;
	}
	#contact .contact-info {
		text-align: left;
	}

}

@media (min-width: 376px) {

	/**COMMON STYLES**/
	.content-width {
		width: 82%;
	}
	h1 {
		font-size: 1.5rem; /*21px*/
	}
	h2 {
		font-size: 1.3571rem; /*19px*/
	}

	/**HEADER**/
	.header-background {
		height: 476px;
	}
	.button-link a {
		font-size: 1.1429rem; /*16px*/
	}
	#main-nav .contact-icon .icon {
		width: 18px;
		height: 18px;
	}
	/*Changing main nav with inline-block li*/
	#main-nav li {
	  display: inline-block;
	  width: 45%;
	  margin: 0 2%;
	}
	#main-nav li.last {
	  display: block;
	  width: 100%;
	  margin: 0;
	}
	#main-nav li:nth-child(3) {
		display: block;
		margin: 0 auto;
	}
	#main-nav .contact-info li {
	  width: auto;
	  margin: 0;
	}
	#main-nav .nav-title {
	  margin: 18px 0 4px;
	}

}

@media (min-width: 426px) {

	/**SECTIONS**/
	.services-list li {
		max-width: 380px;
		margin: 0 auto;
	}
	.slick-arrow {
		display: block;
	}
	.slick-prev, .slick-next {
		width: 30px;
		height: 30px;
		top: 40%;
		background-size: 30px;
		opacity: 0.6;
	}
	.slick-prev {
		left: -45px;
		background: url(../img/icons/previous.svg) center;
	}
	.slick-next {
		right: -45px;
		background: url(../img/icons/next.svg) center;
	}
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus
	{
    opacity: 1.0;
	}
	.slick-prev:before, .slick-next:before {
		content: "";
	}

}

@media (min-width: 460px) {

	/**HEADER**/
	#main-nav li:nth-child(3) {
		display: inline-block;
	}
	#main-nav li, #main-nav li:nth-child(3) {
		width: 30.7%;
		margin: 0 1%;
	}

}

@media (min-width: 601px) {

	/**HEADER**/
	#open-nav, #close-nav, #main-nav {
		display: none;
	}
	#top-nav {
		display: block;
	}

	/**SECTIONS**/
	.services-list li {
		max-width: 100%;
	}
	.services-list div {
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
	.services-list div:first-child {
		padding-top: 7px;
	}
	.services-list div:nth-child(2) {
		padding-left: 20px;
	}
	.portfolio-carousel {
		max-width: 730px;
	}

}

@media (min-width: 625px) {

	/**FOOTER**/
	footer {
		text-align: center;
	}
	#contact, #sitemap {
		display: inline-block;
		vertical-align: top;
	}

}

@media (min-width: 701px) {

	/**COMMON STYLES**/
	.sections-wrapper section {
	  padding: 50px 5%;
	}

	/**SECTIONS**/
	.services-list li {
		padding: 22px 0 36px;
	}
	.services-list p {
		font-size: 1.0714rem; /*15px*/
	}
	.text-link {
		font-size: 1.1786rem; /*16.5px*/
	}

}

@media (min-width: 769px) {

	/**SECTIONS**/
	/*Portfolio thumbs captions and animations*/
	.thumb-caption {
	  height: 100%;
	  top: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  font-size: 1.0714rem; /*15px*/
	  padding-left: 10px;
	  padding-right: 10px;
	  line-height: 1.5;
	}
	.portfolio-thumb .anchor-block:hover .thumb-caption {
	  animation: 0.3s ease-in-out forwards thumb_cover;
	  -webkit-animation: 0.3s ease-in-out forwards thumb_cover;
	  -moz-animation: 0.3s ease-in-out forwards thumb_cover;
	  -o-animation: 0.3s ease-in-out forwards thumb_cover;
	}
	@keyframes thumb_cover {
	  from {top:100%} to {top:0%}
	}
	@-webkit-keyframes thumb_cover {
	  from {top:100%} to {top:0%}
	}
	@-moz-keyframes thumb_cover {
	  from {top:100%} to {top:0%}
	}
	@-o-keyframes thumb_cover {
	  from {top:100%} to {top:0%}
	}
	.portfolio-thumb {
		margin-bottom: -0.5%;
	}

}

@media (min-width: 800px) {

	/**SECTIONS**/
	.services-list li {
	  vertical-align: top;
	  display: inline-block;
	  width: 42%;
		max-width: 380px;
	  padding-top: 26px;
	}
	.services-list li:nth-child(2n+1) { 
	  margin: 0 6% 0 1.7%;
	}
	.services-list li:nth-child(2n) { 
	  margin: 0 1.7% 0 6%;
	}
	.services-list li:last-child {
	  display: block;
	  margin: 0 auto;
	}
	.services-list div {
		display: block;
		width: 100%;
	}
	.services-list div:first-child {
		padding-top: 0;
	}
	.services-list div:nth-child(2) {
		padding-left: 0;
	}
	#portfolio, #testimonials {
	  padding-bottom: 65px;
	}
	.testimonials-carousel {
		max-width: 680px;
	}
	.testimonials-thumb {
		padding: 0 30px;
	}
	.client-left {
		width: 40%;
	}
	.client-right {
		width: 60%;
	}

	/**COMMON STYLES**/
	h1 {
	  margin-bottom: 1.6em;
	}
	.sections-wrapper {
	  padding: 40px 0;
	}

	/**HEADER**/
	.header-background {
	  height: 520px;
	  padding-top: 250px;
	}

	/**FOOTER**/
	#back-to-top {
		border: 1px solid #37474F; /*blue-grey 800*/
	}

}

@media (min-width: 1000px) {

	/**HEADER**/
	.nav-link a {
	  font-size: 1.0357rem; /*14.5px*/
	  padding: 10px 20px 0;
	}
	#top-nav {
	  height: 37px;
	  margin-left: 16px;
	}
	#home-link {
	  height: 42px;
	  width: 48px;
	}
	.header-background {
	  height: 590px;
	  padding-top: 276px;
	}
	.header-caption {
	  padding: 0 4% 0 6%;
	}
	.header-caption h1 {
	  font-size: 1.8571rem; /*26px*/
	  margin-bottom: 32px;
	}
	.header-caption h2 {
	  font-size: 1.5rem; /*21px*/
	}
	.header-caption .button-link a {
	  font-size: 1.5rem; /*21px*/
	  padding: 12px 18px;
	}

	/**SECTIONS**/
	.portfolio-carousel {
		max-width: 800px;
	}
	.portfolio-thumb {
	  padding: 0 25px;
	}
	#portfolio h2 {
	  margin-bottom: 30px;
	}
	.testimonials-carousel {
		max-width: 900px;
	}
	.testimonials-thumb {
	  padding: 0 50px;
	}

}

@media (min-width: 1100px) {

	/**SECTIONS**/
	.testimonials-thumb .client {
		padding-top: 20px;
	}

}

@media (min-width: 1200px) {

	/**HEADER**/
	.header-caption h1 {
	  font-size: 1.9286rem; /*27px*/
	}
	.header-caption h2 {
	  font-size: 1.5714rem; /*22px*/
	}
	.header-caption .button-link a {
	  font-size: 1.5714rem; /*22px*/
	  padding: 13px 20px;
	}
	.header-background {
	  height: 620px;
	  padding-top: 300px;
	  background-image: linear-gradient(rgba(38,50,56,0.8), rgba(38,50,56,0.3) 20%, rgba(38,50,56,0.6) 80%, rgba(38,50,56,0.1)), url(../img/workstation.jpg);
	}

	/**SECTIONS**/
	.sections-wrapper h1 {
	  font-size: 1.5714rem; /*22px*/
	}
	.sections-wrapper h2 {
	  font-size: 1.4286rem; /*20px*/
	}
	.client-left {
	  width: 35%;
	}
	.client-right {
	  width: 65%;
	}
	.services-list li {
	  width: 27%;
	  padding-bottom: 0;
	}
	.services-list li:nth-child(3n+1) {
	  margin: 0 4.4% 0 1.4%;
	}
	.services-list li:nth-child(3n+2) {
	  margin: 0 2.9% 0 2.9%;
	}
	.services-list li:nth-child(3n) {
	  display: inline-block;
	  margin: 0 1.4% 0 4.4%;
	}

	/**FOOTER**/
	footer {
	  padding-top: 40px;
	}
	.copyright {
	  margin-top: 0;
	  padding-left: 30px;
	}

}

@media (min-width: 1400px) {

	/**HEADER**/
	.header-background {
	  height: 660px;
	  padding-top: 320px;
	}
	.header-caption {
	  padding: 0 4% 0 8%;
	}

}

@media (min-width: 1600px) {

	/**HEADER**/
	.header-caption {
		padding-left: 10%;
	}
	.header-caption h1 {
	  font-size: 2rem; /*28px*/
	}
	.header-caption h2 {
	  font-size: 1.6429rem; /*23px*/
	}
	.header-caption .button-link a {
	  font-size: 1.6429rem; /*23px*/
	  padding: 14px 20px 15px;
	}
	.header-background {
	  height: 760px;
	  padding-top: 380px;
	  background-image: linear-gradient(rgba(38,50,56,0.8), rgba(38,50,56,0.3) 15%, rgba(38,50,56,0.6) 65%, rgba(38,50,56,0.1)), url(../img/workstation.jpg);
	}

}

@media (min-width: 1800px) {

	/**HEADER**/
	.header-background {
		height: 950px;
		padding-top: 400px;
	}
	.header-caption {
		padding-left: 8%;
	}
	.header-caption h1 {
	  font-size: 2.2857rem; /*32px*/
	  margin-bottom: 36px;
	}
	.header-caption h2 {
	  font-size: 1.8571rem; /*26px*/
	}
	.header-caption .button-link a {
	  font-size: 1.8571rem; /*26px*/
	  padding: 15px 24px 16px;
	}

}